openapi: 3.0.3
info:
  title: Carbon Rights API
  description: API for managing user profiles, authentication, and carbon trading platform features.
  version: 1.0.0
servers:
  - url: https://apiv5.twister5.cf/
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  /register:
    post:
      summary: Register a new user
      description: Creates a new user in the database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: johndoe
                email:
                  type: string
                  example: johndoe@example.com
                password:
                  type: string
                  example: password123
      responses:
        200:
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully
        400:
          description: Invalid input
        500:
          description: Internal server error

  /profile:
    get:
      summary: View user profile
      description: Retrieves the user's profile information. Requires authentication.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: johndoe
                  email:
                    type: string
                    example: johndoe@example.com
        401:
          description: Unauthorized
        500:
          description: Internal server error
    put:
      summary: Update user profile
      description: Updates the user's profile information. Requires authentication.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: newusername
                email:
                  type: string
                  example: newemail@example.com
      responses:
        200:
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Profile updated successfully
        400:
          description: Invalid input
        401:
          description: Unauthorized
        500:
          description: Internal server error

  /profile/picture:
    post:
      summary: Upload profile picture
      description: Uploads a profile picture for the user. Requires authentication.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Profile picture uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Profile picture uploaded successfully
        400:
          description: Invalid file format
        401:
          description: Unauthorized
        500:
          description: Internal server error

  /notifications:
    get:
      summary: Update notification preferences
      description: Retrieves or updates user notification preferences. Requires authentication.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Notification preferences retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: string
                      example: ["email", "sms"]
        401:
          description: Unauthorized
        500:
          description: Internal server error

  /account:
    delete:
      summary: Delete user account
      description: Deletes the user's account from the platform. Requires authentication.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Account deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Account deleted successfully
        401:
          description: Unauthorized
        500:
          description: Internal server error
