{
    "extends": "next",
    "rules": {}
  },
  {{
    "rules": {
      "@typescript-eslint/no-unused-vars": "off",
      // or disable all rules
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/no-empty-function": "off"
    }
  }
  
}  